{{!-- Lo quise mostrar como: 
<h2>ID: {{product._id}}</h2>
<h2>Title: {{product.title}}</h2>
<p>Description: {{product.description}}</p>
<p>Code: {{product.code}}</p>
<p>Price: {{product.price}}</p>
pero recibi un error: access has been denied to resolve the property "title" because it is not an "own property" of its parent.
You can add a runtime option to disable the check or this warning.   
Asi que decidi mostrarlo asi nomas como viene.--}}

{{product}}

<button>Agregar al carrito</button>